.AC {
  background-position: 0px 0px;
}

.AD {
  background-position: -34px 0px;
}

.AE {
  background-position: -68px 0px;
}

.AF {
  background-position: -102px 0px;
}

.AG {
  background-position: -136px 0px;
}

.AI {
  background-position: -170px 0px;
}

.AL {
  background-position: -204px 0px;
}

.AM {
  background-position: -238px 0px;
}

.AN {
  background-position: -272px 0px;
}

.AO {
  background-position: -306px 0px;
}

.AQ {
  background-position: 0px -28px;
}

.AR {
  background-position: -34px -28px;
}

.AS {
  background-position: -68px -28px;
}

.AT {
  background-position: -102px -28px;
}

.AU {
  background-position: -136px -28px;
}

.AW {
  background-position: -170px -28px;
}

.AX {
  background-position: -204px -28px;
}

.AZ {
  background-position: -238px -28px;
}

.BA {
  background-position: -272px -28px;
}

.BB {
  background-position: -306px -28px;
}

.BD {
  background-position: 0px -56px;
}

.BE {
  background-position: -34px -56px;
}

.BF {
  background-position: -68px -56px;
}

.BG {
  background-position: -102px -56px;
}

.BH {
  background-position: -136px -56px;
}

.BI {
  background-position: -170px -56px;
}

.BJ {
  background-position: -204px -56px;
}

.BL {
  background-position: -238px -56px;
}

.BM {
  background-position: -272px -56px;
}

.BN {
  background-position: -306px -56px;
}

.BO {
  background-position: 0px -84px;
}

.BQ {
  background-position: -34px -84px;
}

.BR {
  background-position: -68px -84px;
}

.BS {
  background-position: -102px -84px;
}

.BT {
  background-position: -136px -84px;
}

.BV {
  background-position: -170px -84px;
}

.BW {
  background-position: -204px -84px;
}

.BY {
  background-position: -238px -84px;
}

.BZ {
  background-position: -272px -84px;
}

.CA {
  background-position: -306px -84px;
}

.CC {
  background-position: 0px -112px;
}

.CD {
  background-position: -34px -112px;
}

.CF {
  background-position: -68px -112px;
}

.CG {
  background-position: -102px -112px;
}

.CH {
  background-position: -136px -112px;
}

.CI {
  background-position: -170px -112px;
}

.CK {
  background-position: -204px -112px;
}

.CL {
  background-position: -238px -112px;
}

.CM {
  background-position: -272px -112px;
}

.CN {
  background-position: -306px -112px;
}

.CO {
  background-position: 0px -140px;
}

.CR {
  background-position: -34px -140px;
}

.CU {
  background-position: -68px -140px;
}

.CV {
  background-position: -102px -140px;
}

.CW {
  background-position: -136px -140px;
}

.CX {
  background-position: -170px -140px;
}

.CY {
  background-position: -204px -140px;
}

.CZ {
  background-position: -238px -140px;
}

.DE {
  background-position: -272px -140px;
}

.DJ {
  background-position: -306px -140px;
}

.DK {
  background-position: 0px -168px;
}

.DM {
  background-position: -34px -168px;
}

.DO {
  background-position: -68px -168px;
}

.DZ {
  background-position: -102px -168px;
}

.EC {
  background-position: -136px -168px;
}

.EE {
  background-position: -170px -168px;
}

.EG {
  background-position: -204px -168px;
}

.EH {
  background-position: -238px -168px;
}

.ER {
  background-position: -272px -168px;
}

.ES {
  background-position: -306px -168px;
}

.ET {
  background-position: 0px -196px;
}

.FI {
  background-position: -34px -196px;
}

.FJ {
  background-position: -68px -196px;
}

.FK {
  background-position: -102px -196px;
}

.FM {
  background-position: -136px -196px;
}

.FO {
  background-position: -170px -196px;
}

.FR {
  background-position: -204px -196px;
}

.FX {
  background-position: -238px -196px;
}

.GA {
  background-position: -272px -196px;
}

.GB {
  background-position: -306px -196px;
}

.GD {
  background-position: 0px -224px;
}

.GE {
  background-position: -34px -224px;
}

.GF {
  background-position: -68px -224px;
}

.GG {
  background-position: -102px -224px;
}

.GH {
  background-position: -136px -224px;
}

.GI {
  background-position: -170px -224px;
}

.GL {
  background-position: -204px -224px;
}

.GM {
  background-position: -238px -224px;
}

.GN {
  background-position: -272px -224px;
}

.GP {
  background-position: -306px -224px;
}

.GQ {
  background-position: 0px -252px;
}

.GR {
  background-position: -34px -252px;
}

.GS {
  background-position: -68px -252px;
}

.GT {
  background-position: -102px -252px;
}

.GU {
  background-position: -136px -252px;
}

.GW {
  background-position: -170px -252px;
}

.GY {
  background-position: -204px -252px;
}

.HK {
  background-position: -238px -252px;
}

.HM {
  background-position: -272px -252px;
}

.HN {
  background-position: -306px -252px;
}

.HR {
  background-position: 0px -280px;
}

.HT {
  background-position: -34px -280px;
}

.HU {
  background-position: -68px -280px;
}

.ID {
  background-position: -102px -280px;
}

.IE {
  background-position: -136px -280px;
}

.IL {
  background-position: -170px -280px;
}

.IM {
  background-position: -204px -280px;
}

.IN {
  background-position: -238px -280px;
}

.IO {
  background-position: -272px -280px;
}

.IQ {
  background-position: -306px -280px;
}

.IR {
  background-position: 0px -308px;
}

.IS {
  background-position: -34px -308px;
}

.IT {
  background-position: -68px -308px;
}

.JE {
  background-position: -102px -308px;
}

.JM {
  background-position: -136px -308px;
}

.JO {
  background-position: -170px -308px;
}

.JP {
  background-position: -204px -308px;
}

.KE {
  background-position: -238px -308px;
}

.KG {
  background-position: -272px -308px;
}

.KH {
  background-position: -306px -308px;
}

.KI {
  background-position: 0px -336px;
}

.KM {
  background-position: -34px -336px;
}

.KN {
  background-position: -68px -336px;
}

.KP {
  background-position: -102px -336px;
}

.KR {
  background-position: -136px -336px;
}

.KW {
  background-position: -170px -336px;
}

.KY {
  background-position: -204px -336px;
}

.KZ {
  background-position: -238px -336px;
}

.LA {
  background-position: -272px -336px;
}

.LB {
  background-position: -306px -336px;
}

.LC {
  background-position: 0px -364px;
}

.LI {
  background-position: -34px -364px;
}

.LK {
  background-position: -68px -364px;
}

.LR {
  background-position: -102px -364px;
}

.LS {
  background-position: -136px -364px;
}

.LT {
  background-position: -170px -364px;
}

.LU {
  background-position: -204px -364px;
}

.LV {
  background-position: -238px -364px;
}

.LY {
  background-position: -272px -364px;
}

.MA {
  background-position: -306px -364px;
}

.MC {
  background-position: 0px -392px;
}

.MD {
  background-position: -34px -392px;
}

.ME {
  background-position: -68px -392px;
}

.MF {
  background-position: -102px -392px;
}

.MG {
  background-position: -136px -392px;
}

.MH {
  background-position: -170px -392px;
}

.MK {
  background-position: -204px -392px;
}

.ML {
  background-position: -238px -392px;
}

.MM {
  background-position: -272px -392px;
}

.MN {
  background-position: -306px -392px;
}

.MO {
  background-position: 0px -420px;
}

.MP {
  background-position: -34px -420px;
}

.MQ {
  background-position: -68px -420px;
}

.MR {
  background-position: -102px -420px;
}

.MS {
  background-position: -136px -420px;
}

.MT {
  background-position: -170px -420px;
}

.MU {
  background-position: -204px -420px;
}

.MV {
  background-position: -238px -420px;
}

.MW {
  background-position: -272px -420px;
}

.MX {
  background-position: -306px -420px;
}

.MY {
  background-position: 0px -448px;
}

.MZ {
  background-position: -34px -448px;
}

.NA {
  background-position: -68px -448px;
}

.NC {
  background-position: -102px -448px;
}

.NE {
  background-position: -136px -448px;
}

.NF {
  background-position: -170px -448px;
}

.NG {
  background-position: -204px -448px;
}

.NI {
  background-position: -238px -448px;
}

.NL {
  background-position: -272px -448px;
}

.NO {
  background-position: -306px -448px;
}

.NP {
  background-position: 0px -476px;
}

.NR {
  background-position: -34px -476px;
}

.NU {
  background-position: -68px -476px;
}

.NZ {
  background-position: -102px -476px;
}

.OM {
  background-position: -136px -476px;
}

.PA {
  background-position: -170px -476px;
}

.PE {
  background-position: -204px -476px;
}

.PF {
  background-position: -238px -476px;
}

.PG {
  background-position: -272px -476px;
}

.PH {
  background-position: -306px -476px;
}

.PK {
  background-position: 0px -504px;
}

.PL {
  background-position: -34px -504px;
}

.PM {
  background-position: -68px -504px;
}

.PN {
  background-position: -102px -504px;
}

.PR {
  background-position: -136px -504px;
}

.PS {
  background-position: -170px -504px;
}

.PT {
  background-position: -204px -504px;
}

.PW {
  background-position: -238px -504px;
}

.PY {
  background-position: -272px -504px;
}

.QA {
  background-position: -306px -504px;
}

.RE {
  background-position: 0px -532px;
}

.RO {
  background-position: -34px -532px;
}

.RS {
  background-position: -68px -532px;
}

.RU {
  background-position: -102px -532px;
}

.RW {
  background-position: -136px -532px;
}

.SA {
  background-position: -170px -532px;
}

.SB {
  background-position: -204px -532px;
}

.SC {
  background-position: -238px -532px;
}

.SD {
  background-position: -272px -532px;
}

.SE {
  background-position: -306px -532px;
}

.SG {
  background-position: 0px -560px;
}

.SH {
  background-position: -34px -560px;
}

.SI {
  background-position: -68px -560px;
}

.SJ {
  background-position: -102px -560px;
}

.SK {
  background-position: -136px -560px;
}

.SL {
  background-position: -170px -560px;
}

.SM {
  background-position: -204px -560px;
}

.SN {
  background-position: -238px -560px;
}

.SO {
  background-position: -272px -560px;
}

.SR {
  background-position: -306px -560px;
}

.SS {
  background-position: 0px -588px;
}

.ST {
  background-position: -34px -588px;
}

.SV {
  background-position: -68px -588px;
}

.SX {
  background-position: -102px -588px;
}

.SY {
  background-position: -136px -588px;
}

.SZ {
  background-position: -170px -588px;
}

.TC {
  background-position: -204px -588px;
}

.TD {
  background-position: -238px -588px;
}

.TF {
  background-position: -272px -588px;
}

.TG {
  background-position: -306px -588px;
}

.TH {
  background-position: 0px -616px;
}

.TJ {
  background-position: -34px -616px;
}

.TK {
  background-position: -68px -616px;
}

.TL {
  background-position: -102px -616px;
}

.TM {
  background-position: -136px -616px;
}

.TN {
  background-position: -170px -616px;
}

.TO {
  background-position: -204px -616px;
}

.TR {
  background-position: -238px -616px;
}

.TT {
  background-position: -272px -616px;
}

.TV {
  background-position: -306px -616px;
}

.TW {
  background-position: 0px -644px;
}

.TZ {
  background-position: -34px -644px;
}

.UA {
  background-position: -68px -644px;
}

.UG {
  background-position: -102px -644px;
}

.UM {
  background-position: -136px -644px;
}

.US {
  background-position: -170px -644px;
}

.UY {
  background-position: -204px -644px;
}

.UZ {
  background-position: -238px -644px;
}

.VA {
  background-position: -272px -644px;
}

.VC {
  background-position: -306px -644px;
}

.VE {
  background-position: 0px -672px;
}

.VG {
  background-position: -34px -672px;
}

.VI {
  background-position: -68px -672px;
}

.VN {
  background-position: -102px -672px;
}

.VU {
  background-position: -136px -672px;
}

.WELSH {
  background-position: -170px -672px;
}

.WF {
  background-position: -204px -672px;
}

.WS {
  background-position: -238px -672px;
}

.XK {
  background-position: -272px -672px;
}

.YE {
  background-position: -306px -672px;
}

.YIDDISH {
  background-position: 0px -700px;
}

.YT {
  background-position: -34px -700px;
}

.YU {
  background-position: -68px -700px;
}

.ZA {
  background-position: -102px -700px;
}

.ZM {
  background-position: -136px -700px;
}

.ZW {
  background-position: -170px -700px;
}