.AC {
  background-position: 0px 0px;
}

.AD {
  background-position: -44px 0px;
}

.AE {
  background-position: -88px 0px;
}

.AF {
  background-position: -132px 0px;
}

.AG {
  background-position: -176px 0px;
}

.AI {
  background-position: -220px 0px;
}

.AL {
  background-position: -264px 0px;
}

.AM {
  background-position: -308px 0px;
}

.AN {
  background-position: -352px 0px;
}

.AO {
  background-position: -396px 0px;
}

.AQ {
  background-position: 0px -34px;
}

.AR {
  background-position: -44px -34px;
}

.AS {
  background-position: -88px -34px;
}

.AT {
  background-position: -132px -34px;
}

.AU {
  background-position: -176px -34px;
}

.AW {
  background-position: -220px -34px;
}

.AX {
  background-position: -264px -34px;
}

.AZ {
  background-position: -308px -34px;
}

.BA {
  background-position: -352px -34px;
}

.BB {
  background-position: -396px -34px;
}

.BD {
  background-position: 0px -68px;
}

.BE {
  background-position: -44px -68px;
}

.BF {
  background-position: -88px -68px;
}

.BG {
  background-position: -132px -68px;
}

.BH {
  background-position: -176px -68px;
}

.BI {
  background-position: -220px -68px;
}

.BJ {
  background-position: -264px -68px;
}

.BL {
  background-position: -308px -68px;
}

.BM {
  background-position: -352px -68px;
}

.BN {
  background-position: -396px -68px;
}

.BO {
  background-position: 0px -102px;
}

.BQ {
  background-position: -44px -102px;
}

.BR {
  background-position: -88px -102px;
}

.BS {
  background-position: -132px -102px;
}

.BT {
  background-position: -176px -102px;
}

.BV {
  background-position: -220px -102px;
}

.BW {
  background-position: -264px -102px;
}

.BY {
  background-position: -308px -102px;
}

.BZ {
  background-position: -352px -102px;
}

.CA {
  background-position: -396px -102px;
}

.CC {
  background-position: 0px -136px;
}

.CD {
  background-position: -44px -136px;
}

.CF {
  background-position: -88px -136px;
}

.CG {
  background-position: -132px -136px;
}

.CH {
  background-position: -176px -136px;
}

.CI {
  background-position: -220px -136px;
}

.CK {
  background-position: -264px -136px;
}

.CL {
  background-position: -308px -136px;
}

.CM {
  background-position: -352px -136px;
}

.CN {
  background-position: -396px -136px;
}

.CO {
  background-position: 0px -170px;
}

.CR {
  background-position: -44px -170px;
}

.CU {
  background-position: -88px -170px;
}

.CV {
  background-position: -132px -170px;
}

.CW {
  background-position: -176px -170px;
}

.CX {
  background-position: -220px -170px;
}

.CY {
  background-position: -264px -170px;
}

.CZ {
  background-position: -308px -170px;
}

.DE {
  background-position: -352px -170px;
}

.DJ {
  background-position: -396px -170px;
}

.DK {
  background-position: 0px -204px;
}

.DM {
  background-position: -44px -204px;
}

.DO {
  background-position: -88px -204px;
}

.DZ {
  background-position: -132px -204px;
}

.EC {
  background-position: -176px -204px;
}

.EE {
  background-position: -220px -204px;
}

.EG {
  background-position: -264px -204px;
}

.EH {
  background-position: -308px -204px;
}

.ER {
  background-position: -352px -204px;
}

.ES {
  background-position: -396px -204px;
}

.ET {
  background-position: 0px -238px;
}

.FI {
  background-position: -44px -238px;
}

.FJ {
  background-position: -88px -238px;
}

.FK {
  background-position: -132px -238px;
}

.FM {
  background-position: -176px -238px;
}

.FO {
  background-position: -220px -238px;
}

.FR {
  background-position: -264px -238px;
}

.FX {
  background-position: -308px -238px;
}

.GA {
  background-position: -352px -238px;
}

.GB {
  background-position: -396px -238px;
}

.GD {
  background-position: 0px -272px;
}

.GE {
  background-position: -44px -272px;
}

.GF {
  background-position: -88px -272px;
}

.GG {
  background-position: -132px -272px;
}

.GH {
  background-position: -176px -272px;
}

.GI {
  background-position: -220px -272px;
}

.GL {
  background-position: -264px -272px;
}

.GM {
  background-position: -308px -272px;
}

.GN {
  background-position: -352px -272px;
}

.GP {
  background-position: -396px -272px;
}

.GQ {
  background-position: 0px -306px;
}

.GR {
  background-position: -44px -306px;
}

.GS {
  background-position: -88px -306px;
}

.GT {
  background-position: -132px -306px;
}

.GU {
  background-position: -176px -306px;
}

.GW {
  background-position: -220px -306px;
}

.GY {
  background-position: -264px -306px;
}

.HK {
  background-position: -308px -306px;
}

.HM {
  background-position: -352px -306px;
}

.HN {
  background-position: -396px -306px;
}

.HR {
  background-position: 0px -340px;
}

.HT {
  background-position: -44px -340px;
}

.HU {
  background-position: -88px -340px;
}

.ID {
  background-position: -132px -340px;
}

.IE {
  background-position: -176px -340px;
}

.IL {
  background-position: -220px -340px;
}

.IM {
  background-position: -264px -340px;
}

.IN {
  background-position: -308px -340px;
}

.IO {
  background-position: -352px -340px;
}

.IQ {
  background-position: -396px -340px;
}

.IR {
  background-position: 0px -374px;
}

.IS {
  background-position: -44px -374px;
}

.IT {
  background-position: -88px -374px;
}

.JE {
  background-position: -132px -374px;
}

.JM {
  background-position: -176px -374px;
}

.JO {
  background-position: -220px -374px;
}

.JP {
  background-position: -264px -374px;
}

.KE {
  background-position: -308px -374px;
}

.KG {
  background-position: -352px -374px;
}

.KH {
  background-position: -396px -374px;
}

.KI {
  background-position: 0px -408px;
}

.KM {
  background-position: -44px -408px;
}

.KN {
  background-position: -88px -408px;
}

.KP {
  background-position: -132px -408px;
}

.KR {
  background-position: -176px -408px;
}

.KW {
  background-position: -220px -408px;
}

.KY {
  background-position: -264px -408px;
}

.KZ {
  background-position: -308px -408px;
}

.LA {
  background-position: -352px -408px;
}

.LB {
  background-position: -396px -408px;
}

.LC {
  background-position: 0px -442px;
}

.LI {
  background-position: -44px -442px;
}

.LK {
  background-position: -88px -442px;
}

.LR {
  background-position: -132px -442px;
}

.LS {
  background-position: -176px -442px;
}

.LT {
  background-position: -220px -442px;
}

.LU {
  background-position: -264px -442px;
}

.LV {
  background-position: -308px -442px;
}

.LY {
  background-position: -352px -442px;
}

.MA {
  background-position: -396px -442px;
}

.MC {
  background-position: 0px -476px;
}

.MD {
  background-position: -44px -476px;
}

.ME {
  background-position: -88px -476px;
}

.MF {
  background-position: -132px -476px;
}

.MG {
  background-position: -176px -476px;
}

.MH {
  background-position: -220px -476px;
}

.MK {
  background-position: -264px -476px;
}

.ML {
  background-position: -308px -476px;
}

.MM {
  background-position: -352px -476px;
}

.MN {
  background-position: -396px -476px;
}

.MO {
  background-position: 0px -510px;
}

.MP {
  background-position: -44px -510px;
}

.MQ {
  background-position: -88px -510px;
}

.MR {
  background-position: -132px -510px;
}

.MS {
  background-position: -176px -510px;
}

.MT {
  background-position: -220px -510px;
}

.MU {
  background-position: -264px -510px;
}

.MV {
  background-position: -308px -510px;
}

.MW {
  background-position: -352px -510px;
}

.MX {
  background-position: -396px -510px;
}

.MY {
  background-position: 0px -544px;
}

.MZ {
  background-position: -44px -544px;
}

.NA {
  background-position: -88px -544px;
}

.NC {
  background-position: -132px -544px;
}

.NE {
  background-position: -176px -544px;
}

.NF {
  background-position: -220px -544px;
}

.NG {
  background-position: -264px -544px;
}

.NI {
  background-position: -308px -544px;
}

.NL {
  background-position: -352px -544px;
}

.NO {
  background-position: -396px -544px;
}

.NP {
  background-position: 0px -578px;
}

.NR {
  background-position: -44px -578px;
}

.NU {
  background-position: -88px -578px;
}

.NZ {
  background-position: -132px -578px;
}

.OM {
  background-position: -176px -578px;
}

.PA {
  background-position: -220px -578px;
}

.PE {
  background-position: -264px -578px;
}

.PF {
  background-position: -308px -578px;
}

.PG {
  background-position: -352px -578px;
}

.PH {
  background-position: -396px -578px;
}

.PK {
  background-position: 0px -612px;
}

.PL {
  background-position: -44px -612px;
}

.PM {
  background-position: -88px -612px;
}

.PN {
  background-position: -132px -612px;
}

.PR {
  background-position: -176px -612px;
}

.PS {
  background-position: -220px -612px;
}

.PT {
  background-position: -264px -612px;
}

.PW {
  background-position: -308px -612px;
}

.PY {
  background-position: -352px -612px;
}

.QA {
  background-position: -396px -612px;
}

.RE {
  background-position: 0px -646px;
}

.RO {
  background-position: -44px -646px;
}

.RS {
  background-position: -88px -646px;
}

.RU {
  background-position: -132px -646px;
}

.RW {
  background-position: -176px -646px;
}

.SA {
  background-position: -220px -646px;
}

.SB {
  background-position: -264px -646px;
}

.SC {
  background-position: -308px -646px;
}

.SD {
  background-position: -352px -646px;
}

.SE {
  background-position: -396px -646px;
}

.SG {
  background-position: 0px -680px;
}

.SH {
  background-position: -44px -680px;
}

.SI {
  background-position: -88px -680px;
}

.SJ {
  background-position: -132px -680px;
}

.SK {
  background-position: -176px -680px;
}

.SL {
  background-position: -220px -680px;
}

.SM {
  background-position: -264px -680px;
}

.SN {
  background-position: -308px -680px;
}

.SO {
  background-position: -352px -680px;
}

.SR {
  background-position: -396px -680px;
}

.SS {
  background-position: 0px -714px;
}

.ST {
  background-position: -44px -714px;
}

.SV {
  background-position: -88px -714px;
}

.SX {
  background-position: -132px -714px;
}

.SY {
  background-position: -176px -714px;
}

.SZ {
  background-position: -220px -714px;
}

.TC {
  background-position: -264px -714px;
}

.TD {
  background-position: -308px -714px;
}

.TF {
  background-position: -352px -714px;
}

.TG {
  background-position: -396px -714px;
}

.TH {
  background-position: 0px -748px;
}

.TJ {
  background-position: -44px -748px;
}

.TK {
  background-position: -88px -748px;
}

.TL {
  background-position: -132px -748px;
}

.TM {
  background-position: -176px -748px;
}

.TN {
  background-position: -220px -748px;
}

.TO {
  background-position: -264px -748px;
}

.TR {
  background-position: -308px -748px;
}

.TT {
  background-position: -352px -748px;
}

.TV {
  background-position: -396px -748px;
}

.TW {
  background-position: 0px -782px;
}

.TZ {
  background-position: -44px -782px;
}

.UA {
  background-position: -88px -782px;
}

.UG {
  background-position: -132px -782px;
}

.UM {
  background-position: -176px -782px;
}

.US {
  background-position: -220px -782px;
}

.UY {
  background-position: -264px -782px;
}

.UZ {
  background-position: -308px -782px;
}

.VA {
  background-position: -352px -782px;
}

.VC {
  background-position: -396px -782px;
}

.VE {
  background-position: 0px -816px;
}

.VG {
  background-position: -44px -816px;
}

.VI {
  background-position: -88px -816px;
}

.VN {
  background-position: -132px -816px;
}

.VU {
  background-position: -176px -816px;
}

.WELSH {
  background-position: -220px -816px;
}

.WF {
  background-position: -264px -816px;
}

.WS {
  background-position: -308px -816px;
}

.XK {
  background-position: -352px -816px;
}

.YE {
  background-position: -396px -816px;
}

.YIDDISH {
  background-position: 0px -850px;
}

.YT {
  background-position: -44px -850px;
}

.YU {
  background-position: -88px -850px;
}

.ZA {
  background-position: -132px -850px;
}

.ZM {
  background-position: -176px -850px;
}

.ZW {
  background-position: -220px -850px;
}