.AC {
  background-position: 0px 0px;
}

.AD {
  background-position: -50px 0px;
}

.AE {
  background-position: -100px 0px;
}

.AF {
  background-position: -150px 0px;
}

.AG {
  background-position: -200px 0px;
}

.AI {
  background-position: -250px 0px;
}

.AL {
  background-position: -300px 0px;
}

.AM {
  background-position: -350px 0px;
}

.AN {
  background-position: -400px 0px;
}

.AO {
  background-position: -450px 0px;
}

.AQ {
  background-position: 0px -40px;
}

.AR {
  background-position: -50px -40px;
}

.AS {
  background-position: -100px -40px;
}

.AT {
  background-position: -150px -40px;
}

.AU {
  background-position: -200px -40px;
}

.AW {
  background-position: -250px -40px;
}

.AX {
  background-position: -300px -40px;
}

.AZ {
  background-position: -350px -40px;
}

.BA {
  background-position: -400px -40px;
}

.BB {
  background-position: -450px -40px;
}

.BD {
  background-position: 0px -80px;
}

.BE {
  background-position: -50px -80px;
}

.BF {
  background-position: -100px -80px;
}

.BG {
  background-position: -150px -80px;
}

.BH {
  background-position: -200px -80px;
}

.BI {
  background-position: -250px -80px;
}

.BJ {
  background-position: -300px -80px;
}

.BL {
  background-position: -350px -80px;
}

.BM {
  background-position: -400px -80px;
}

.BN {
  background-position: -450px -80px;
}

.BO {
  background-position: 0px -120px;
}

.BQ {
  background-position: -50px -120px;
}

.BR {
  background-position: -100px -120px;
}

.BS {
  background-position: -150px -120px;
}

.BT {
  background-position: -200px -120px;
}

.BV {
  background-position: -250px -120px;
}

.BW {
  background-position: -300px -120px;
}

.BY {
  background-position: -350px -120px;
}

.BZ {
  background-position: -400px -120px;
}

.CA {
  background-position: -450px -120px;
}

.CC {
  background-position: 0px -160px;
}

.CD {
  background-position: -50px -160px;
}

.CF {
  background-position: -100px -160px;
}

.CG {
  background-position: -150px -160px;
}

.CH {
  background-position: -200px -160px;
}

.CI {
  background-position: -250px -160px;
}

.CK {
  background-position: -300px -160px;
}

.CL {
  background-position: -350px -160px;
}

.CM {
  background-position: -400px -160px;
}

.CN {
  background-position: -450px -160px;
}

.CO {
  background-position: 0px -200px;
}

.CR {
  background-position: -50px -200px;
}

.CU {
  background-position: -100px -200px;
}

.CV {
  background-position: -150px -200px;
}

.CW {
  background-position: -200px -200px;
}

.CX {
  background-position: -250px -200px;
}

.CY {
  background-position: -300px -200px;
}

.CZ {
  background-position: -350px -200px;
}

.DE {
  background-position: -400px -200px;
}

.DJ {
  background-position: -450px -200px;
}

.DK {
  background-position: 0px -240px;
}

.DM {
  background-position: -50px -240px;
}

.DO {
  background-position: -100px -240px;
}

.DZ {
  background-position: -150px -240px;
}

.EC {
  background-position: -200px -240px;
}

.EE {
  background-position: -250px -240px;
}

.EG {
  background-position: -300px -240px;
}

.EH {
  background-position: -350px -240px;
}

.ER {
  background-position: -400px -240px;
}

.ES {
  background-position: -450px -240px;
}

.ET {
  background-position: 0px -280px;
}

.FI {
  background-position: -50px -280px;
}

.FJ {
  background-position: -100px -280px;
}

.FK {
  background-position: -150px -280px;
}

.FM {
  background-position: -200px -280px;
}

.FO {
  background-position: -250px -280px;
}

.FR {
  background-position: -300px -280px;
}

.FX {
  background-position: -350px -280px;
}

.GA {
  background-position: -400px -280px;
}

.GB {
  background-position: -450px -280px;
}

.GD {
  background-position: 0px -320px;
}

.GE {
  background-position: -50px -320px;
}

.GF {
  background-position: -100px -320px;
}

.GG {
  background-position: -150px -320px;
}

.GH {
  background-position: -200px -320px;
}

.GI {
  background-position: -250px -320px;
}

.GL {
  background-position: -300px -320px;
}

.GM {
  background-position: -350px -320px;
}

.GN {
  background-position: -400px -320px;
}

.GP {
  background-position: -450px -320px;
}

.GQ {
  background-position: 0px -360px;
}

.GR {
  background-position: -50px -360px;
}

.GS {
  background-position: -100px -360px;
}

.GT {
  background-position: -150px -360px;
}

.GU {
  background-position: -200px -360px;
}

.GW {
  background-position: -250px -360px;
}

.GY {
  background-position: -300px -360px;
}

.HK {
  background-position: -350px -360px;
}

.HM {
  background-position: -400px -360px;
}

.HN {
  background-position: -450px -360px;
}

.HR {
  background-position: 0px -400px;
}

.HT {
  background-position: -50px -400px;
}

.HU {
  background-position: -100px -400px;
}

.ID {
  background-position: -150px -400px;
}

.IE {
  background-position: -200px -400px;
}

.IL {
  background-position: -250px -400px;
}

.IM {
  background-position: -300px -400px;
}

.IN {
  background-position: -350px -400px;
}

.IO {
  background-position: -400px -400px;
}

.IQ {
  background-position: -450px -400px;
}

.IR {
  background-position: 0px -440px;
}

.IS {
  background-position: -50px -440px;
}

.IT {
  background-position: -100px -440px;
}

.JE {
  background-position: -150px -440px;
}

.JM {
  background-position: -200px -440px;
}

.JO {
  background-position: -250px -440px;
}

.JP {
  background-position: -300px -440px;
}

.KE {
  background-position: -350px -440px;
}

.KG {
  background-position: -400px -440px;
}

.KH {
  background-position: -450px -440px;
}

.KI {
  background-position: 0px -480px;
}

.KM {
  background-position: -50px -480px;
}

.KN {
  background-position: -100px -480px;
}

.KP {
  background-position: -150px -480px;
}

.KR {
  background-position: -200px -480px;
}

.KW {
  background-position: -250px -480px;
}

.KY {
  background-position: -300px -480px;
}

.KZ {
  background-position: -350px -480px;
}

.LA {
  background-position: -400px -480px;
}

.LB {
  background-position: -450px -480px;
}

.LC {
  background-position: 0px -520px;
}

.LI {
  background-position: -50px -520px;
}

.LK {
  background-position: -100px -520px;
}

.LR {
  background-position: -150px -520px;
}

.LS {
  background-position: -200px -520px;
}

.LT {
  background-position: -250px -520px;
}

.LU {
  background-position: -300px -520px;
}

.LV {
  background-position: -350px -520px;
}

.LY {
  background-position: -400px -520px;
}

.MA {
  background-position: -450px -520px;
}

.MC {
  background-position: 0px -560px;
}

.MD {
  background-position: -50px -560px;
}

.ME {
  background-position: -100px -560px;
}

.MF {
  background-position: -150px -560px;
}

.MG {
  background-position: -200px -560px;
}

.MH {
  background-position: -250px -560px;
}

.MK {
  background-position: -300px -560px;
}

.ML {
  background-position: -350px -560px;
}

.MM {
  background-position: -400px -560px;
}

.MN {
  background-position: -450px -560px;
}

.MO {
  background-position: 0px -600px;
}

.MP {
  background-position: -50px -600px;
}

.MQ {
  background-position: -100px -600px;
}

.MR {
  background-position: -150px -600px;
}

.MS {
  background-position: -200px -600px;
}

.MT {
  background-position: -250px -600px;
}

.MU {
  background-position: -300px -600px;
}

.MV {
  background-position: -350px -600px;
}

.MW {
  background-position: -400px -600px;
}

.MX {
  background-position: -450px -600px;
}

.MY {
  background-position: 0px -640px;
}

.MZ {
  background-position: -50px -640px;
}

.NA {
  background-position: -100px -640px;
}

.NC {
  background-position: -150px -640px;
}

.NE {
  background-position: -200px -640px;
}

.NF {
  background-position: -250px -640px;
}

.NG {
  background-position: -300px -640px;
}

.NI {
  background-position: -350px -640px;
}

.NL {
  background-position: -400px -640px;
}

.NO {
  background-position: -450px -640px;
}

.NP {
  background-position: 0px -680px;
}

.NR {
  background-position: -50px -680px;
}

.NU {
  background-position: -100px -680px;
}

.NZ {
  background-position: -150px -680px;
}

.OM {
  background-position: -200px -680px;
}

.PA {
  background-position: -250px -680px;
}

.PE {
  background-position: -300px -680px;
}

.PF {
  background-position: -350px -680px;
}

.PG {
  background-position: -400px -680px;
}

.PH {
  background-position: -450px -680px;
}

.PK {
  background-position: 0px -720px;
}

.PL {
  background-position: -50px -720px;
}

.PM {
  background-position: -100px -720px;
}

.PN {
  background-position: -150px -720px;
}

.PR {
  background-position: -200px -720px;
}

.PS {
  background-position: -250px -720px;
}

.PT {
  background-position: -300px -720px;
}

.PW {
  background-position: -350px -720px;
}

.PY {
  background-position: -400px -720px;
}

.QA {
  background-position: -450px -720px;
}

.RE {
  background-position: 0px -760px;
}

.RO {
  background-position: -50px -760px;
}

.RS {
  background-position: -100px -760px;
}

.RU {
  background-position: -150px -760px;
}

.RW {
  background-position: -200px -760px;
}

.SA {
  background-position: -250px -760px;
}

.SB {
  background-position: -300px -760px;
}

.SC {
  background-position: -350px -760px;
}

.SD {
  background-position: -400px -760px;
}

.SE {
  background-position: -450px -760px;
}

.SG {
  background-position: 0px -800px;
}

.SH {
  background-position: -50px -800px;
}

.SI {
  background-position: -100px -800px;
}

.SJ {
  background-position: -150px -800px;
}

.SK {
  background-position: -200px -800px;
}

.SL {
  background-position: -250px -800px;
}

.SM {
  background-position: -300px -800px;
}

.SN {
  background-position: -350px -800px;
}

.SO {
  background-position: -400px -800px;
}

.SR {
  background-position: -450px -800px;
}

.SS {
  background-position: 0px -840px;
}

.ST {
  background-position: -50px -840px;
}

.SV {
  background-position: -100px -840px;
}

.SX {
  background-position: -150px -840px;
}

.SY {
  background-position: -200px -840px;
}

.SZ {
  background-position: -250px -840px;
}

.TC {
  background-position: -300px -840px;
}

.TD {
  background-position: -350px -840px;
}

.TF {
  background-position: -400px -840px;
}

.TG {
  background-position: -450px -840px;
}

.TH {
  background-position: 0px -880px;
}

.TJ {
  background-position: -50px -880px;
}

.TK {
  background-position: -100px -880px;
}

.TL {
  background-position: -150px -880px;
}

.TM {
  background-position: -200px -880px;
}

.TN {
  background-position: -250px -880px;
}

.TO {
  background-position: -300px -880px;
}

.TR {
  background-position: -350px -880px;
}

.TT {
  background-position: -400px -880px;
}

.TV {
  background-position: -450px -880px;
}

.TW {
  background-position: 0px -920px;
}

.TZ {
  background-position: -50px -920px;
}

.UA {
  background-position: -100px -920px;
}

.UG {
  background-position: -150px -920px;
}

.UM {
  background-position: -200px -920px;
}

.US {
  background-position: -250px -920px;
}

.UY {
  background-position: -300px -920px;
}

.UZ {
  background-position: -350px -920px;
}

.VA {
  background-position: -400px -920px;
}

.VC {
  background-position: -450px -920px;
}

.VE {
  background-position: 0px -960px;
}

.VG {
  background-position: -50px -960px;
}

.VI {
  background-position: -100px -960px;
}

.VN {
  background-position: -150px -960px;
}

.VU {
  background-position: -200px -960px;
}

.WELSH {
  background-position: -250px -960px;
}

.WF {
  background-position: -300px -960px;
}

.WS {
  background-position: -350px -960px;
}

.XK {
  background-position: -400px -960px;
}

.YE {
  background-position: -450px -960px;
}

.YIDDISH {
  background-position: 0px -1000px;
}

.YT {
  background-position: -50px -1000px;
}

.YU {
  background-position: -100px -1000px;
}

.ZA {
  background-position: -150px -1000px;
}

.ZM {
  background-position: -200px -1000px;
}

.ZW {
  background-position: -250px -1000px;
}