.canvas-box {
  margin: 0 50px;
  display: flex;
}

.canvas {
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
}
.btn{
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  background:darkgreen;
  color:crimson;
  width: auto;
  margin: 5px;
}
.flag{
  background: url(./flag.png) #f00 no-repeat;
  width: 40px;
  height: 30px;
  display: inline-block;
  
}